<%_ if (data) { _%>
import { ProColumns } from "@ant-design/pro-components";
import { useAccess } from "@umijs/max";
import { Button, Modal, message } from "antd";
import { DeleteOutlined, EditOutlined } from '@ant-design/icons';
import { useEffect } from "react";
import { get<%= data.name %>Detail } from "@/services/moduleName/<%= data.lowerName %>";
export const use<%= data.name %>Columns = (
    access: ReturnType<typeof useAccess>,
    handleRemove: (rows: any[]) => Promise<void>,
    setCurrentRow: (row: any) => void,
    setUpdateModalVisible: (visible: boolean) => void,
) => {
    const columns: ProColumns<any>[] = [
        {
            title: 'ID',
            dataIndex: 'id'
        },
        {
            title: '名称',
            dataIndex: 'name',
            ellipsis: true,

        },
        {
            title: '备注',
            dataIndex: 'remark',
            search: false
        },
        {
            title: '操作',
            valueType: 'option',
            render: (_, record) => [
                <Button
                    key="edit"
                    type="link"
                    icon={<EditOutlined />}
                    hidden={!access.hasPerms('moduleName:<%= data.lowerName %>:edit')}
                    onClick={() => {
                        get<%= data.name %>Detail(record.id).then(res => {
                            if (res.code === 200) {
                                setCurrentRow(res.data);
                                setUpdateModalVisible(true);
                            } else {
                                return Promise.reject(res.msg)
                            }
                        }).catch(error => {
                            message.error(error)
                        })

                    }}
                >
                    编辑
                </Button>,
                <Button
                    key="delete"
                    type="link"
                    hidden={!access.hasPerms('moduleName:<%= data.lowerName %>:delete')}
                    danger
                    icon={<DeleteOutlined />}
                    onClick={() => {
                        Modal.confirm({
                            title: '确认删除',
                            content: '确定删除该条记录吗？',
                            onOk: () => handleRemove([record as any]),
                        });
                    }}
                >
                    删除
                </Button>,
            ],
        },
    ];
    return columns;
};

<%_ } _%>