<%_ if (data) { _%>
import { ProTable } from '@ant-design/pro-components'
import { Button } from 'antd'
import { PlusOutlined } from '@ant-design/icons';
import React, { memo } from 'react'
import type { ReactNode, FC } from 'react'
import { useAccess } from '@umijs/max';
import UpdateForm from './components/UpdateForm/UpdateForm';
import { use<%= data.name %>Columns } from './hooks/use<%= data.name %>Columns';
import { use<%= data.name %>State } from './hooks/use<%= data.name %>State';
import { use<%= data.name %>Data } from './hooks/use<%= data.name %>Data';
import { use<%= data.name %>Modal } from './hooks/use<%= data.name %>Modal';
interface IProps {
    children?: ReactNode
}
const <%= data.name %>: FC<IProps> = () => {
    const access = useAccess()
    const { updateModalVisible, setUpdateModalVisible, currentRow, setCurrentRow, actionRef } = use<%data.name%>State()
    const { handleRemove, fetchTypeList } = use<%= data.name %>Data(actionRef)
    const { clickAddHandle, updateSubmit, updateCancel } = use<%= data.name %>Modal(setUpdateModalVisible, setCurrentRow, actionRef)
    const columns = use<%= data.name %>Columns(access, handleRemove, setCurrentRow, setUpdateModalVisible)
    return <>
        <ProTable<any>
            actionRef={actionRef}
            rowKey="id"
            search={access.hasPerms('moduleName:<%= data.lowerName %>:query') ? {
                labelWidth: 120,
            } : false}
            toolBarRender={() => [
                <Button
                    type="primary"
                    key="add"
                    hidden={!access.hasPerms('moduleName:<%= data.lowerName %>:add')}
                    onClick={clickAddHandle}
                >
                    <PlusOutlined /> 新建
                </Button>,
            ]}
            request={fetchTypeList}
            columns={columns}
        />
        <UpdateForm
            onSubmit={updateSubmit}
            onCancel={updateCancel}
            updateModalVisible={updateModalVisible}
            values={currentRow}
        />
    </>
}
export default memo(<%= data.name %>)




<%_ } _%>